.full-width-table {
  width: 100%;
}
.user-table {
  width: 80%;
  margin: 20px auto
}
.search-box {
  margin-top: 10px;
  margin-left: 20px;
  
}

::ng-deep .mat-form-field-wrapper {
  padding: 0px;
}

::ng-deep .mat-form-field-infix {
  margin-top: -0.50em
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0.35em !important
}

